:root {
  --font-family: "Lato", sans-serif;
  --content-width: 1140px;
  --container-offset: 20px;
  --mobile-container-offset: 10px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --mobile-container-width: calc(var(--content-width) + (var(mobile-container-offset) * 2));
  --offset: 30px;
  --mobile-offset: 15px;
  --light-color: #fff;
  --accent-color: #3BBDC4;
  --active-color: #AC8EE3;
  --text-color: #4B5157;
  --news-color: #FF4F52;
  --arts-color: #AC8EE3;
  --travel-color: #4592FF;
  --sports-color: #FFA34D;
  --tech-color: #3DC47E;
  --moneys-color: #6E99AE;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable value-keyword-case */
@font-face {
  font-family: "Lato";
  src: url("../fonts/../fonts/LatoRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/../fonts/LatoLight.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/../fonts/LatoLightItalic.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/../fonts/LatoBold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/../fonts/LatoThin.woff2") format("woff2");
  font-weight: 100;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/../fonts/RobotoBold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/../fonts/RobotoRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family), sans-serif;
  background-color: #EDEFF0;
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}
@media (max-width: 576px) {
  .container {
    padding: 0 var(--mobile-container-offset);
  }
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  -webkit-column-gap: var(--offset);
  -moz-column-gap: var(--offset);
  column-gap: var(--offset);
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn {
  padding: 10px 45px 10px 25px;
  background-color: #4592ff;
  border-radius: 20px;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  background-image: url("./../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: top 50% right 20px;
  background-size: 20px 20px;
  -webkit-transition: background-color 0.3s ease-in, -webkit-animation 0.2s ease-in-out;
  transition: background-color 0.3s ease-in, -webkit-animation 0.2s ease-in-out;
  transition: background-color 0.3s ease-in, animation 0.2s ease-in-out;
  transition: background-color 0.3s ease-in, animation 0.2s ease-in-out, -webkit-animation 0.2s ease-in-out;
}
.btn:focus {
  outline: none;
}
@media (any-hover: hover) {
  .btn:hover {
    -webkit-animation: jumping 0.2s;
    animation: jumping 0.2s;
    background-color: rgb(43, 195, 255);
  }
}
.btn:active {
  position: relative;
  top: 1px;
}

@-webkit-keyframes jumping {
  0% {
    background-position: top 50% right 20px;
  }
  50% {
    background-position: top 50% right 10px;
  }
  100% {
    background-position: top 50% right 20px;
  }
}

@keyframes jumping {
  0% {
    background-position: top 50% right 20px;
  }
  50% {
    background-position: top 50% right 10px;
  }
  100% {
    background-position: top 50% right 20px;
  }
}
.date {
  color: #fff;
  font-size: 12px;
  line-height: 15px;
  opacity: 0.4;
}
.date--theme {
  color: #939699;
}
.date--rec {
  color: #939699;
}

.comments-count {
  padding-left: 20px;
  background-image: url("./../img/comment.svg");
  background-position: left, top;
  background-size: 15px 15px;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 12px;
  line-height: 15px;
  opacity: 0.4;
}
.comments-count--theme {
  color: #939699;
}

.likes-count {
  padding-left: 20px;
  background-image: url("./../img/heart.svg");
  background-position: left, top;
  background-size: 15px 15px;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 12px;
  line-height: 15px;
  opacity: 0.4;
}
.likes-count--theme {
  color: #939699;
}

.menu {
  width: 40px;
  height: 40px;
}
.menu__item {
  height: 5px;
  width: 100%;
  background-color: #fff;
  position: relative;
}
.menu__item::before {
  content: "";
  height: 5px;
  width: 100%;
  top: -100%;
}

.burger {
  display: none;
}
@media (max-width: 1024px) {
  .burger {
    --burger-width: 30px;
    --burger-height: 30px;
    --burger-line-height: 2px;
    position: relative;
    border: none;
    padding: 0;
    width: var(--burger-width);
    height: var(--burger-height);
    color: #000;
    background-color: transparent;
    cursor: pointer;
    display: block;
    height: 20px;
    z-index: 10;
    color: var(--text-color);
    opacity: 0.7;
  }
  .burger::before, .burger::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: var(--burger-line-height);
    background-color: currentColor;
    -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }
  .burger::before {
    top: 0;
  }
  .burger::after {
    top: calc(100% - var(--burger-line-height));
  }
  .burger__line {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: var(--burger-line-height);
    background-color: currentColor;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }
  .burger--active::before {
    top: 50%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }
  .burger--active::after {
    top: 50%;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }
  .burger--active .burger__line {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }
}

.btn-columns {
  width: 10px;
  height: 10px;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  position: absolute;
  right: 50px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(135deg);
  -ms-transform: translateY(-50%) rotate(135deg);
  transform: translateY(-50%) rotate(135deg);
}

.visible {
  display: block !important;
}

.header {
  background-color: #fff;
}
.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  margin-top: 5px;
  border-top: 1px solid #D9DADB;
}
@media (max-width: 1024px) {
  .header__top {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-column-gap: 15px;
    -moz-column-gap: 15px;
    column-gap: 15px;
  }
}
@media (max-width: 576px) {
  .header__top {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[6];
    grid-template-columns: repeat(6, 1fr);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    gap: var(--mobile-offset);
  }
}
.header__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 0 15px;
  height: 40px;
}
@media (max-width: 576px) {
  .header__form {
    grid-column: 3/4 span;
    padding: 0;
  }
}
.header__search-btn {
  margin-right: 10px;
}
.header__input {
  width: 100%;
  height: 100%;
  font-size: 14px;
  line-height: 20px;
  color: #939699;
}
.header__input::-webkit-input-placeholder {
  color: inherit;
}
.header__input::-moz-placeholder {
  color: inherit;
}
.header__input:-ms-input-placeholder {
  color: inherit;
}
.header__input::-ms-input-placeholder {
  color: inherit;
}
.header__input::placeholder {
  color: inherit;
}
.header__input:focus {
  outline: none;
}
.header__sections-btn {
  margin: 0;
  padding-left: 35px;
  padding-right: 25px;
  border-right: 1px solid #D9DADB;
  height: 40px;
  font-size: 14px;
  line-height: 20px;
}
@media (max-width: 576px) {
  .header__sections-btn {
    -ms-grid-column-span: 2;
    grid-column: 2 span;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.header__subscribe {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 5px;
  margin-right: 25px;
}
.header__subscribe-img {
  margin-right: 10px;
}
.header__subscribe-title {
  display: inline-block;
  color: #262D33;
  font-size: 12px;
  line-height: 15px;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
.header__subscribe-title::after {
  content: "";
  position: absolute;
  inset: 0;
}
.header__subscribe-title:focus {
  outline: none;
}
@media (any-hover: hover) {
  .header__subscribe-title:hover {
    color: var(--accent-color);
  }
}
.header__subscribe-title:active {
  color: var(--active-color);
}
.header__subscribe-desc {
  margin: 0;
  color: var(--base-grey-50, #939699);
  font-size: 12px;
  line-height: 15px;
}
@media (max-width: 576px) {
  .header__subscribe {
    -ms-grid-column-span: 3;
    grid-column: 3 span;
  }
}
.header__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  color: var(--text-color);
  font-size: 14px;
  line-height: 20px;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
.header__login:focus {
  outline: none;
}
@media (any-hover: hover) {
  .header__login:hover {
    color: var(--accent-color);
  }
}
.header__login:active {
  color: var(--active-color);
}
@media (max-width: 576px) {
  .header__login {
    grid-column: 4/2 span;
  }
}
.header .header__link.focus-visible {
  color: var(--active-color);
}
@media (max-width: 576px) {
  .header__bottom {
    -ms-grid-columns: (1fr)[6];
    grid-template-columns: repeat(6, 1fr);
    gap: var(--mobile-offset);
    padding: var(--mobile-offset) 0;
  }
}
.header__bottom-block {
  -ms-grid-column-span: 4;
  grid-column: 4 span;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__bottom-block--city {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.header__bottom-block--logo {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.header__bottom-block--weather {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
@media (max-width: 576px) {
  .header__bottom-block {
    -ms-grid-column-span: 6;
    grid-column: 6 span;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .header__bottom-block .header__statue-img {
    width: 60px;
    height: auto;
  }
}
.header__city {
  margin: 0;
  margin-left: 15px;
  color: var(--text-color);
  font-size: 14px;
  line-height: 20px;
}
.header__date {
  color: var(--text-color);
  font-size: 14px;
  line-height: 20px;
  margin-right: 25px;
}
.header__weather {
  color: var(--text-color);
  font-size: 14px;
  line-height: 20px;
  padding-left: 30px;
  background-image: url("./../img/sun.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: left top;
}

.nav {
  background-color: #262D33;
  position: relative;
}
@media (max-width: 1024px) {
  .nav {
    position: absolute;
    inset: 0 0 0 0;
    z-index: 9;
    padding: var(--offset);
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
    background-color: transparent;
    background-image: linear-gradient(45deg, rgba(38, 45, 51, 0.7098039216), rgba(20, 107, 161, 0.2823529412));
    background-size: 200% 200%;
    -webkit-animation: gradient 5s ease-in infinite;
    animation: gradient 5s ease-in infinite;
    -webkit-transition: opacity 0.3s ease-in 100ms, -webkit-transform 0.3s ease-in;
    transition: opacity 0.3s ease-in 100ms, -webkit-transform 0.3s ease-in;
    transition: transform 0.3s ease-in, opacity 0.3s ease-in 100ms;
    transition: transform 0.3s ease-in, opacity 0.3s ease-in 100ms, -webkit-transform 0.3s ease-in;
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
  }
  .nav.menu--active {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 17px 0;
}
@media (max-width: 1024px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: var(--offset);
    overflow-y: scroll;
  }
}
.nav__link {
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
.nav__link:focus {
  outline: none;
}
@media (any-hover: hover) {
  .nav__link:hover {
    color: var(--accent-color);
  }
}
.nav__link:active {
  color: var(--active-color);
}

.nav__link.focus-visible {
  color: var(--active-color);
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.blogs {
  padding: 30px 0;
  background-color: #262D33;
}
@media (max-width: 1024px) {
  .blogs {
    padding: 15px 0;
  }
}
.blogs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 25px 0;
  background-color: #30363D;
  border-radius: 10px;
}
@media (max-width: 1024px) {
  .blogs__list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[12];
    grid-template-columns: repeat(12, 1fr);
    gap: var(--offset);
  }
}
@media (max-width: 576px) {
  .blogs__list {
    -ms-grid-columns: (1fr)[6];
    grid-template-columns: repeat(6, 1fr);
    gap: var(--mobile-offset);
    margin: 0 auto;
  }
}
.blogs__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-column-gap: 15px;
  -moz-column-gap: 15px;
  column-gap: 15px;
  padding: 0 25px;
}
.blogs__item:not(.blogs__item:last-child) {
  border-right: 1px solid #4B5157;
}
@media (max-width: 1024px) {
  .blogs__item {
    -ms-grid-column-span: 6;
    grid-column: 6 span;
  }
  .blogs__item:not(.blogs__item:last-child) {
    border-right: 1px solid #4B5157;
  }
}
@media (max-width: 576px) {
  .blogs__item {
    border-right: 1px solid #4B5157;
  }
}
.blogs__link {
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  color: #fff;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
.blogs__link:focus {
  outline: none;
}
@media (any-hover: hover) {
  .blogs__link:hover {
    color: var(--accent-color);
  }
}
.blogs__link:active {
  color: var(--active-color);
}

.blogs__link.focus-visible {
  color: var(--active-color);
}

.hero {
  position: relative;
  z-index: 5;
}
.hero::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 50%;
  left: 0;
  top: 0;
  background-color: #262D33;
}
.hero__container {
  height: 570px;
}
@media (max-width: 1024px) {
  .hero__container {
    height: unset;
  }
}
.hero__left {
  height: 100%;
  padding: 55px 55px 100px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -ms-grid-column-span: 9;
  grid-column: 9 span;
  margin-right: -30px;
  background-image: url("./../img/hero-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .hero__left {
    -ms-grid-column-span: 12;
    grid-column: 12 span;
    margin-right: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: unset;
  }
}
@media (max-width: 576px) {
  .hero__left {
    padding: 22px 22px 50px;
  }
}
.hero__right {
  height: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  grid-column: 10/3 span;
  background-color: #fff;
  overflow-y: scroll;
}
@media (max-width: 1024px) {
  .hero__right {
    -ms-grid-column-span: 12;
    grid-column: 12 span;
    overflow-y: visible;
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
  }
}
.hero__title {
  margin: 0;
  margin-bottom: 45px;
  max-width: 600px;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
}
@media (max-width: 576px) {
  .hero__title {
    font-size: 22px;
    line-height: 27px;
  }
}
.hero__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
}
@media (max-width: 576px) {
  .hero__btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    row-gap: var(--mobile-offset);
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
  }
}
.hero__play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
}
.hero__play-author {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}
.hero__play-time {
  margin: 0;
  font-size: 12px;
  line-height: 15px;
  opacity: 0.4;
  margin-top: 2px;
}

.author-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
}
.author-card__name {
  margin: 0;
  color: #FFF;
  font-size: 14px;
  line-height: 20px;
}
.author-card__prof {
  margin: 0;
  opacity: 0.4;
  color: #fff;
  font-size: 12px;
  line-height: 15px;
}

.hero-recommend__title {
  margin: 0;
  padding: 20px 0;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #262D33;
}
.hero-recommend__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow-y: scroll;
}
@media (max-width: 1024px) {
  .hero-recommend__list {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: unset;
    -ms-flex-align: unset;
    align-items: unset;
    -ms-grid-columns: (1fr)[12];
    grid-template-columns: repeat(12, 1fr);
  }
}
.hero-recommend__item {
  padding: 18px 25px;
  border-top: 1px solid #D9DADB;
  position: relative;
}
@media (max-width: 1024px) {
  .hero-recommend__item {
    -ms-grid-column-span: 6;
    grid-column: 6 span;
  }
}
.hero-recommend__link {
  color: var(--text-color);
  font-size: 14px;
  line-height: 20px;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
.hero-recommend__link::before {
  content: "";
  position: absolute;
  inset: 0;
}
.hero-recommend__link:focus {
  outline: none;
}
@media (any-hover: hover) {
  .hero-recommend__link:hover {
    color: var(--accent-color);
  }
}
.hero-recommend__link:active {
  color: var(--active-color);
}

.hero-recommend__link.focus-visible {
  color: var(--active-color);
}

.recommend-item {
  position: relative;
}
.recommend-item__title {
  margin: 0;
  margin-bottom: 8px;
  color: #3BBDC4;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.recommend-item__title--cars {
  color: #6E99AE;
}
.recommend-item__title--movies {
  color: #AC8EE3;
}
.recommend-item__title--nfl {
  color: #FFA34D;
}
.recommend-item__title--review {
  color: #3DC47E;
}
.recommend-item:first-child:before {
  content: "";
  position: absolute;
  z-index: 10;
  width: 15px;
  height: 15px;
  background-color: #fff;
  left: 0;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}

.articles {
  padding-top: 30px;
  padding-bottom: 60px;
}
.articles__container {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: var(--offset);
  -moz-column-gap: var(--offset);
  column-gap: var(--offset);
  -ms-grid-rows: (170px)[4];
  grid-template-rows: repeat(4, 170px);
  row-gap: var(--offset);
}
@media (max-width: 1024px) {
  .articles__container {
    -ms-grid-columns: 1fr var(--offset) 1fr var(--offset) 1fr var(--offset) 1fr var(--offset) 1fr var(--offset) 1fr;
    grid-template-columns: repeat(6, 1fr);
    gap: var(--offset);
    -ms-grid-rows: auto var(--offset) auto var(--offset) auto var(--offset) auto var(--offset) auto;
    grid-template-areas: "car car car car item3 item3" "car car car car item4 item4" "item1 item1 cat cat design design" " item2 item2 cat cat design design" "aside aside aside aside aside aside";
  }
}
@media (max-width: 576px) {
  .articles__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.article {
  border-radius: 10px;
  background-color: #fff;
  position: relative;
}
.article__item {
  padding: 25px 25px 30px;
  -ms-grid-column-span: 3;
  grid-column: 3 span;
}
@media (max-width: 1024px) {
  .article__item-1 {
    grid-area: item1;
  }
  .article__item-2 {
    grid-area: item2;
  }
  .article__item-3 {
    grid-area: item3;
  }
  .article__item-4 {
    grid-area: item4;
  }
  .article__item-5 {
    grid-area: item5;
  }
  .article__item-6 {
    grid-area: item6;
  }
}
@media (max-width: 576px) {
  .article__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.article__item-title {
  display: inline-block;
  margin: 0;
  margin-bottom: 5px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 25px;
  color: inherit;
  -webkit-transition: color 0.2s ease-in, border 0.2s ease-in;
  transition: color 0.2s ease-in, border 0.2s ease-in;
  margin-bottom: 10px;
}
.article__item-title::after {
  content: "";
  position: absolute;
  inset: 0;
}
.article__item-title:focus {
  outline: none;
}
@media (any-hover: hover) {
  .article__item-title:hover {
    color: var(--accent-color);
  }
}
.article__item-title:active {
  color: var(--active-color);
}
.article__item-date {
  color: #939699;
}
@media (max-width: 576px) {
  .article__item {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
}
.article__top {
  padding-top: 25px;
  padding-left: 35px;
  background-image: url("./../img/car.png");
  background-position: top 50% right;
  background-size: 292px 299px;
  background-repeat: no-repeat;
  position: relative;
}
@media (max-width: 576px) {
  .article__top {
    background-position: top 50% right -80px;
  }
}
.article--cars {
  -ms-grid-column-span: 6;
  grid-column: 6 span;
  -ms-grid-row-span: 2;
  grid-row: 2 span;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .article--cars {
    grid-area: car;
  }
}
@media (max-width: 576px) {
  .article--cars {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
}
.article--design {
  grid-column: 7/3 span;
  -ms-grid-row-span: 2;
  grid-row: 2 span;
  padding: 25px;
  background-color: var(--text-color);
  background-image: url("./../img/hand.png");
  background-position: center, center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
@media (max-width: 1024px) {
  .article--design {
    grid-area: design;
  }
}
.article--cat {
  -ms-grid-column-span: 3;
  grid-column: 3 span;
  -ms-grid-row-span: 2;
  grid-row: 2 span;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 10px 25px 30px;
  background-image: url("./../img/cat.png");
  background-position: top, left;
  background-size: 263px 275px;
  background-repeat: no-repeat;
}
@media (max-width: 1024px) {
  .article--cat {
    grid-area: cat;
    padding: 10px 10px 15px;
    background-size: auto 80%;
  }
}
@media (max-width: 576px) {
  .article--cat {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    min-height: 200px;
    background-position: right;
    background-size: 45% auto;
    width: 100%;
  }
}
.article__theme {
  display: inline-block;
  position: relative;
  z-index: 3;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
.article__theme:focus {
  outline: none;
}
@media (any-hover: hover) {
  .article__theme:hover {
    color: var(--accent-color);
  }
}
.article__theme:active {
  color: var(--active-color);
}
.article__theme--cars {
  color: #6E99AE;
  margin-bottom: 20px;
}
.article__theme--design {
  color: #E7D9FF;
  margin-bottom: 10px;
}
.article__theme--dest {
  color: var(--accent-color);
  margin-bottom: 25px;
}
@media (any-hover: hover) {
  .article__theme--dest:hover {
    color: #6E99AE;
  }
}
.article__theme--dest:active {
  color: var(--active-color);
}
.article__title {
  font-family: "Roboto", sans-serif;
  margin: 0;
  display: block;
  color: inherit;
  -webkit-transition: color 0.2s ease-in, border 0.2s ease-in;
  transition: color 0.2s ease-in, border 0.2s ease-in;
}
.article__title::after {
  content: "";
  position: absolute;
  inset: 0;
}
.article__title:focus {
  outline: none;
}
@media (any-hover: hover) {
  .article__title:hover {
    color: var(--accent-color);
  }
}
.article__title--cars {
  max-width: 240px;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 25px;
  position: relative;
  z-index: 10;
}
.article__title--design {
  color: #fff;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.article__text {
  margin: 0;
  max-width: 227px;
  font-size: 14px;
  line-height: 20px;
  color: var(--text-color);
  position: relative;
  z-index: 10;
}
.article__text--cat {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  max-width: 50%;
}
.article__comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  padding: 15px 0;
  border-top: 1px solid #D9DADB;
  padding-left: 35px;
}
@media (max-width: 576px) {
  .article {
    text-align: center;
  }
}

.comment__text {
  color: var(--text-color);
  font-size: 14px;
  line-height: 20px;
}
.comment__name {
  color: #262D33;
  font-weight: 700;
}

.author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
}
.author__name {
  margin: 0;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  opacity: 0.85;
}

.article__title.focus-visible {
  border: 1px solid var(--active-color);
}

.article__theme.focus-visible {
  color: var(--accent-color);
}

.sidebar {
  grid-column: 10/3 span;
  -ms-grid-row-span: 4;
  grid-row: 4 span;
  border-radius: 10px;
  background-color: #6E99AE;
  max-height: 770px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (max-width: 1024px) {
  .sidebar {
    grid-area: aside;
  }
}
@media (max-width: 1024px) {
  .article__item-1 {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  .article__item-2 {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  .article__item-3 {
    -ms-grid-row: 1;
    -ms-grid-column: 9;
    -ms-grid-column-span: 3;
  }
  .article__item-4 {
    -ms-grid-row: 3;
    -ms-grid-column: 9;
    -ms-grid-column-span: 3;
  }
  .article--cars {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
  }
  .article--design {
    -ms-grid-row: 5;
    -ms-grid-row-span: 3;
    -ms-grid-column: 9;
    -ms-grid-column-span: 3;
  }
  .article--cat {
    -ms-grid-row: 5;
    -ms-grid-row-span: 3;
    -ms-grid-column: 5;
    -ms-grid-column-span: 3;
  }
  .sidebar {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
    -ms-grid-column-span: 11;
  }
}
@media (max-width: 576px) {
  .sidebar {
    width: 100%;
    text-align: center;
    -webkit-box-ordinal-group: 11;
    -ms-flex-order: 10;
    order: 10;
  }
}
.sidebar__title {
  position: relative;
  margin: 0;
  padding: 20px 25px;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  border-bottom: 1px solid #B4D1E0;
}
.sidebar__list {
  padding: 0 25px;
}
.sidebar__item {
  position: relative;
  padding: 45px 0 40px;
}
.sidebar__item:not(.sidebar__item:last-child) {
  border-bottom: 1px solid #d9dadb;
}
@media (max-width: 1024px) {
  .sidebar__item {
    padding: 22px 0 20px;
  }
}
@media (max-width: 576px) {
  .sidebar__item {
    display: none;
  }
}
.sidebar__link {
  font-size: 20px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 25px;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
.sidebar__link::before {
  content: "";
  position: absolute;
  inset: 0;
}
.sidebar__link:focus {
  outline: none;
}
@media (any-hover: hover) {
  .sidebar__link:hover {
    color: #4bd0e8;
  }
}
.sidebar__link:active {
  color: #d35cdb;
}
.sidebar__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  margin-top: 15px;
}
.sidebar__author-name {
  margin: 0;
  margin-bottom: 2px;
  font-size: 14px;
  line-height: 20px;
  color: #D1E2EB;
}
.sidebar__author-prof {
  margin: 0;
  font-size: 12px;
  line-height: 15px;
  color: #D1E2EB;
}
@media (max-width: 576px) {
  .sidebar__author {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.sidebar__more {
  display: block;
  text-align: center;
  padding: 11px 10px 14px;
  border-top: 1px solid #B4D1E0;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
.sidebar__more:focus {
  outline: none;
}
@media (any-hover: hover) {
  .sidebar__more:hover {
    color: #4bd0e8;
  }
}
.sidebar__more:active {
  color: #bb5cdb;
}

.sidebar__link.focus-visible {
  color: var(--active-color);
}

.sidebar__more.focus-visible {
  color: var(--active-color);
}

.flowers {
  padding: 50px 0 55px;
  background-image: url("./../img/flowers.jpg");
  background-position: center, center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.flowers__title {
  max-width: 640px;
  text-align: center;
  margin: 0;
  margin-bottom: 25px;
  color: #fff;
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 50px;
}
@media (max-width: 576px) {
  .flowers__title {
    font-size: 20px;
    line-height: 25px;
  }
}
@media (max-width: 576px) {
  .flowers {
    padding: 25px 0;
  }
}

.themes {
  padding: 60px 0;
}
@media (max-width: 576px) {
  .themes__container {
    -ms-grid-columns: (1fr)[6];
    grid-template-columns: repeat(6, 1fr);
    -webkit-column-gap: var(--mobile-offset);
    -moz-column-gap: var(--mobile-offset);
    column-gap: var(--mobile-offset);
  }
}

.theme {
  -ms-grid-column-span: 9;
  grid-column: 9 span;
  -webkit-column-gap: 25px;
  -moz-column-gap: 25px;
  column-gap: 25px;
  padding: 25px;
  position: relative;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}
@media (any-hover: hover) {
  .theme:hover {
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
  }
}
.theme:not(.theme:last-child) {
  border-bottom: 1px solid #D9DADB;
}
.theme__img {
  width: 336px;
  height: 195px;
}
@media (max-width: 576px) {
  .theme__img {
    height: auto;
    width: 100%;
  }
}
.theme__bookmark {
  position: absolute;
  right: 25px;
  top: 25px;
}
.theme__bookmark-img {
  fill: #BCBFC2;
  -webkit-transition: fill 0.2s ease-in;
  transition: fill 0.2s ease-in;
}
@media (max-width: 576px) {
  .theme__bookmark-img {
    fill: #e9e9e9;
  }
}
.theme__bookmark:hover .theme__bookmark-img {
  fill: #EB5757;
}
@media (max-width: 576px) {
  .theme__bookmark {
    right: 30px;
    top: 30px;
  }
}
.theme__title {
  display: block;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 25px;
  color: #262D33;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
.theme__title::after {
  content: "";
  position: absolute;
  inset: 0;
}
.theme__title:focus {
  border: 1px solid --accent-color;
}
@media (any-hover: hover) {
  .theme__title:hover {
    color: var(--accent-color);
  }
}
.theme__title:active {
  color: var(--active-color);
}
.theme__text {
  color: var(--text-color);
  font-size: 14px;
  line-height: 20px;
}
.theme--flights {
  color: #4592FF;
}
.theme--food {
  color: #4592FF;
}
.theme--science {
  color: #FF4F52;
}
.theme--health {
  color: #3BBDC4;
}
.theme--design {
  color: #AC8EE3;
}
@media (max-width: 1024px) {
  .theme {
    -ms-grid-column-span: 12;
    grid-column: 12 span;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}
@media (max-width: 576px) {
  .theme {
    -ms-grid-column-span: 6;
    grid-column: 6 span;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}

.rec {
  grid-column: 10/3 span;
  -ms-grid-row-span: 4;
  grid-row: 4 span;
  max-height: 770px;
  background-color: #fff;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.rec__title {
  margin: 0;
  color: #262D33;
  padding: 20px 25px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  border-bottom: 1px solid #d9dadb;
}
.rec__list {
  padding: 0 25px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  overflow-y: scroll;
}
.rec__item {
  position: relative;
  padding: 17px 0;
  margin-right: -5px;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.rec__item:not(.rec__item:last-child) {
  border-bottom: 1px solid #d9dadb;
}
.rec__link {
  font-size: 14px;
  line-height: 20px;
  color: var(--text-color);
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
.rec__link::before {
  content: "";
  position: absolute;
  inset: 0;
}
.rec__link:focus {
  outline: none;
}
@media (any-hover: hover) {
  .rec__link:hover {
    color: var(--accent-color);
  }
}
.rec__link:active {
  color: var(--active-color);
}
.rec__time {
  margin: 0;
  margin-top: 5px;
  font-size: 12px;
  line-height: 15px;
  color: #939699;
}
.rec__more {
  display: block;
  padding: 11px 0 14px;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  color: #262D33;
  border-top: 1px solid #d9dadb;
  font-weight: 700;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
.rec__more:focus {
  outline: none;
}
@media (any-hover: hover) {
  .rec__more:hover {
    color: var(--accent-color);
  }
}
.rec__more:active {
  color: var(--active-color);
}
@media (max-width: 1024px) {
  .rec {
    -ms-grid-column-span: 12;
    grid-column: 12 span;
    max-height: 500px;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
}
@media (max-width: 576px) {
  .rec {
    -ms-grid-column-span: 6;
    grid-column: 6 span;
    max-height: 300px;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
}

.rec__link.focus-visible {
  color: var(--active-color);
}

.rec__more.focus-visible {
  color: var(--active-color);
}

.interview {
  background-color: #262D33;
  padding: 60px 0;
}
@media (max-width: 576px) {
  .interview {
    padding: 30px 0;
  }
}
.interview__container {
  row-gap: var(--offset);
  -ms-grid-rows: (170px)[3];
  grid-template-rows: repeat(3, 170px);
}
@media (max-width: 576px) {
  .interview__container {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
}
.interview__left {
  -ms-grid-column-span: 6;
  grid-column: 6 span;
  -ms-grid-row-span: 3;
  grid-row: 3 span;
  border-radius: 10px;
}
@media (max-width: 1024px) {
  .interview__left {
    -ms-grid-column-span: 12;
    grid-column: 12 span;
  }
}
@media (max-width: 576px) {
  .interview__left {
    -ms-grid-column-span: 3;
    grid-column: 3 span;
    -ms-grid-row-span: 2;
    grid-row: 2 span;
  }
}
.interview__right {
  grid-column: 7/6 span;
  -ms-grid-row-span: 3;
  grid-row: 3 span;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
  grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: (170px)[3];
  grid-template-rows: repeat(3, 170px);
  gap: var(--offset);
}
@media (max-width: 1024px) {
  .interview__right {
    -ms-grid-column-span: 12;
    grid-column: 12 span;
    grid-template-areas: "item5 item5 item5 item6 item6 item6";
  }
  .article__item-5 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  .article__item-6 {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
    -ms-grid-column-span: 3;
  }
}
@media (max-width: 576px) {
  .interview__right {
    -ms-grid-column-span: 3;
    grid-column: 3 span;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "item5 item5 item5" "item6 item6 item6";
  }
  .article__item-5 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  .article__item-6 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
}
.interview__top {
  -ms-grid-column-span: 6;
  grid-column: 6 span;
  -ms-grid-row-span: 2;
  grid-row: 2 span;
  background-color: #B4D1E0;
  border-radius: 10px;
  padding: 35px 35px 50px;
  background: url("./../img/girl.png") no-repeat right 10% bottom, 248px 352px, url("./../img/oval.png") no-repeat right 5% top 50%, 260px 260px, #B4D1E0;
}
@media (max-width: 1024px) {
  .interview__top {
    grid-area: "interview";
  }
}
@media (max-width: 576px) {
  .interview__top {
    -ms-grid-column-span: 3;
    grid-column: 3 span;
  }
}
@media (max-width: 425px) {
  .interview__top {
    background-image: none;
  }
}
.interview__theme {
  color: #6E99AE;
}
.interview__title {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 30px;
  color: #262D33;
  margin-bottom: 15px;
  max-width: 243px;
}
.interview__text {
  font-size: 14px;
  line-height: 20px;
  color: var(--text-color);
  margin-bottom: 25px;
  max-width: 215px;
}

.photographer {
  text-align: center;
}
.photographer__title {
  font-size: 40px;
  max-width: 445px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
  color: #fff;
}
@media (max-width: 576px) {
  .photographer__title {
    font-size: 20px;
    line-height: 25px;
  }
}
.photographer__item {
  height: 100%;
  border-radius: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-position: center, center;
  background-size: 555px 570px;
  background-repeat: no-repeat;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.photographer__item--boat {
  background-image: url("./../img/boat.png");
}
.photographer__item--sea {
  background-image: url("./../img/sea.jpg");
}
.photographer__item--night-city {
  background-image: url("./../img/night-city.jpg");
}
@media (max-width: 1024px) {
  .photographer__item {
    background-size: cover;
  }
}
.photographer__name {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
}
.photographer__prof {
  margin: 0;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  opacity: 0.4;
}
.photographer__btn {
  padding: 10px 25px 10px 50px;
  background-color: #4592FF;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  border-radius: 20px;
  background-image: url("./../img/images-icon.svg");
  background-position: left 20px top 50%;
  background-size: 20px 20px;
  background-repeat: no-repeat;
}
.photographer__photo {
  border-radius: 50%;
}

.photo-count {
  font-size: 14px;
  line-height: 20px;
  color: #C5E4FC;
}

.swiper {
  height: 100%;
}
.swiper-pagination-bullet {
  background-color: #fff;
  opacity: 0.5;
}
.swiper-pagination-bullet-active {
  opacity: 1;
  outline: 1px solid #fff;
  outline-offset: 3px;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 7px);
  margin-bottom: 35px;
}

.cta {
  text-align: center;
  padding: 60px 0 35px;
}
@media (max-width: 576px) {
  .cta {
    padding: 30px 0;
  }
}
.cta__title {
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 50px;
  color: #262D33;
}
@media (max-width: 576px) {
  .cta__title {
    font-size: 20px;
    line-height: 25px;
  }
}
.cta__form {
  height: 40px;
  margin: 0 auto;
  width: 445px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 10px;
}
@media (max-width: 576px) {
  .cta__form {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.cta__input {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #D9DADB;
  background: #FFF;
  color: var(--text-color);
}
.cta__input:focus {
  outline: none;
}
.cta__btn {
  display: inline-block;
  padding: 10px 29px;
  border-radius: 20px;
  background: -webkit-gradient(linear, left top, right top, from(#168eff), to(#83dce6));
  background: linear-gradient(to right, #168eff, #83dce6);
  background-size: 500% 500%;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  -webkit-animation: gradient 5s ease-in-out infinite;
  animation: gradient 5s ease-in-out infinite;
}

.cta__input.focus-visible {
  border: 1px solid #4592FF;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  25% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.footer {
  padding-top: 35px;
  padding-bottom: 35px;
}
.footer__container {
  -ms-grid-columns: (1fr)[6];
  grid-template-columns: repeat(6, 1fr);
  gap: var(--mobile-offset);
}
.footer__nav {
  padding-bottom: 64px;
}
.footer__list {
  -ms-grid-column-span: 2;
  grid-column: 2 span;
  padding-top: 30px;
  border-top: 5px solid;
}
.footer__list:not(.footer__list:last-child) {
  margin-right: calc(var(--offset) * -1);
  padding-right: var(--offset);
}
@media (max-width: 576px) {
  .footer__list {
    -ms-grid-column-span: 3;
    grid-column: 3 span;
  }
  .footer__list:not(.footer__list:last-child) {
    margin-right: unset;
    padding-right: unset;
  }
}
.footer__list--news {
  border-top-color: var(--news-color);
}
.footer__list--arts {
  border-top-color: var(--arts-color);
}
.footer__list--travel {
  border-top-color: var(--travel-color);
}
.footer__list--sports {
  border-top-color: var(--sports-color);
}
.footer__list--tech {
  border-top-color: var(--tech-color);
}
.footer__list--moneys {
  border-top-color: var(--moneys-color);
}
.footer__item:not(:last-child) {
  margin-bottom: 15px;
}
.footer__title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: #262d33;
}
.footer__link {
  font-size: 14px;
  line-height: 20px;
  color: var(--text-color);
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
.footer__link:focus {
  outline: none;
}
@media (any-hover: hover) {
  .footer__link:hover {
    color: var(--accent-color);
  }
}
.footer__link:active {
  color: var(--active-color);
}

.footer__link.focus-visible {
  color: var(--active-color);
}

.contact__container {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid #D9DADB;
  border-bottom: 1px solid #D9DADB;
}
@media (max-width: 1024px) {
  .contact__container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 15px;
  }
}
@media (max-width: 576px) {
  .contact__item-logo {
    display: none;
  }
}
.contact__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
  row-gap: 15px;
  position: relative;
}
@media (max-width: 576px) {
  .contact__list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
.contact__link {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #262D33;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
.contact__link:focus {
  outline: none;
}
@media (any-hover: hover) {
  .contact__link:hover {
    color: var(--accent-color);
  }
}
.contact__link:active {
  color: var(--active-color);
}

.contact__link.focus-visible {
  color: var(--active-color);
}

.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 15px;
  -moz-column-gap: 15px;
  column-gap: 15px;
}
.socials__item--logo {
  display: none;
}
@media (max-width: 576px) {
  .socials__item--logo {
    display: block;
  }
}
@media (any-hover: hover) {
  .socials__link:hover .socials__link-img--facebook {
    fill: #2564e2;
  }
  .socials__link:hover .socials__link-img--twitter {
    fill: #0c91e3;
  }
  .socials__link:hover .socials__link-img--youtube {
    fill: #dd0000;
  }
  .socials__link:hover .socials__link-img--instagram {
    fill: #0f0e0e;
  }
}
.socials__link-img--facebook {
  fill: #4267B2;
}
.socials__link-img--twitter {
  fill: #1DA1F2;
}
.socials__link-img--youtube {
  fill: #FF0000;
}
.socials__link-img--instagram {
  fill: #262626;
}

.copy {
  padding-top: 40px;
  padding-bottom: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: var(--text-color);
}
@media (max-width: 1024px) {
  .copy {
    padding: 20px 0 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: calc(var(--offset) / 2);
    text-align: center;
  }
}
.copy__text {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  max-width: 750px;
}
.copy__copyright {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}

[data-aos=to-right] {
  position: relative;
  right: 100%;
  opacity: 0;
  -webkit-transition-property: right, opacity;
  transition-property: right, opacity;
}
[data-aos=to-right].aos-animate {
  opacity: 1;
}
@media screen and (min-width: 320px) {
  [data-aos=to-right].aos-animate {
    right: 0;
  }
}
/*# sourceMappingURL=main.css.map */